<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Order details</title>
</head>

<body>
<label th:text="'Create new order:'"></label>
<form action="/" data-th-action="@{/order/create}" method="post">

    <span sec:authentication="name">Bob</span>

    <button type="submit">Create an order</button>
</form>


<form action="/" th:action="@{/order/create}" th:object="${order}" method="POST" enctype="utf8">
    <div>
        <p>Order name</p>
        <label th:text="${order.name}">name</label>
        <input th:field="*{name}"/>
        <p th:text="${order.userId} +' , ' + ${order.userId}"></p>
        <input type="text" th:field="*{userId}" hidden/>
    </div>

    <button type="submit">submit</button>

</form>

</body>
</html>
