<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Comment form</title>
</head>

<body>
<label th:text="'Add new comment:'"></label>

<form action="/" th:action="@{/comment/add}" th:object="${comment}" method="POST" enctype="utf8">
    <div>
        <p>Input text</p>
        <label th:text="${comment.text}">text</label>
        <input th:field="*{text}"/>
        <p th:text="${comment.userId} +' , ' + ${comment.userId}"></p>
        <input type="text" th:field="*{userId}" hidden/>
    </div>

    <button type="submit">Add comment</button>
</form>

</body>
</html>
