<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <title>Registration</title>
</head>

<body>
<label th:text="'Form'"></label>

<form action="/" th:action="@{/api/user/registration}" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <p>Username</p>
        <label th:text="${user.username}">first</label>
        <input th:field="*{username}"/>
        <p th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <p>Email</p>
        <label th:text="${user.email}">email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <p>Password</p>
        <label th:text="${user.password}">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <button type="submit">submit</button>
</form>

<p style="display:inline"> Already have an account? </p>
<a th:href="@{/login.html}">Login</a>

</body>
</html>
