<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title>Home</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-success">Registration completed successfully. You can now log in.</h1>
    <div style="text-align: center;"><a th:href="@{/login}">Login</a></div>
</div>
</body>
</html>
