<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User profile</title>
</head>

<body>
<label th:text="'Choose an action:'"></label>

<form action="/" data-th-action="@{/gateway/action}" th:object="${user}" data-th-object="${user}" method="post">
    <button type="submit" name="action" value="order">Create an order</button>
    <button type="submit" name="action" value="comment">Add a comment</button>
    <p th:text="${user.id} +' , ' + ${user.id}"></p>
    <input type="text" th:field="*{id}" hidden/>
</form>

</body>
</html>
